<!-- Sidebar content -->
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeSideBar()"
    >&times;</a
  >

  <div class="logged-in-user">
    <div class="user-role">
      <% if (signedInUser.role === "admin") {%>
      <span class="admin"><%= signedInUser.role %></span>
      <%} else{ %>
      <span class="client"><%= signedInUser.role %></span>
      <%}%>
    </div>
    <div class="icon-username">
      <i class="fas fa-user-circle" style="font-size: 36px"></i>
      <span><%= signedInUser.name %></span>
    </div>
  </div>

  <div class="signout">
    <a href="signout">
      <i class="fa fa-sign-out" style="font-size: 24px"></i>
      Sign out
    </a>
  </div>

  <div class="sidebar-links">
    <h6>LOAN</h6>
    <a href="apply-for-loan">Apply</a>
    <a href="my-loan-data">My application</a>
    <% if (signedInUser.role === "admin"){%>
    <a href="loan-applicants">Applicants</a>
    <%} %>
    <h6>SACCO</h6>
    <a href="apply-for-sacco-membership">Apply</a>
    <a href="my-sacco-data">My application</a>
    <% if (signedInUser.role === "admin"){%>
    <a href="sacco-applicants">Applicants</a>
    <%} %>
    <h6>SETTINGS</h6>
    <!-- TODO: reset password -->
    <% if (signedInUser.role === "admin"){%>
    <a href="get-admin-codes">Admin signup codes</a>
    <%} %>
  </div>
</div>

<!-- Logo -->
<div class="logo">
  <img src="../../assets/img/logo/logo.jpeg" width="180" height="150" alt="" />
</div>

<!-- Open sidebar -->
<div id="main">
  <button class="openbtn" onclick="openSideBar()">&#9776;</button>
</div>
