<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/output.css" />
    <title>About</title>
  </head>
  <body class="relative bg-greyLight1 text-base">
    <!-- HEADER SECTION START -->
    <header><%- include("./partials/navbar"); %></header>
    <!-- HEADER SECTION END -->

    <!-- MAIN CONTENT START -->
    <main class="md:mt-32">
      <!-- ABOUT  SECTION START-->
      <section class="lg:flex justify-between items-center m-8 sm:m-16">
        <div class="flex flex-col space-y-4 md:max-w-xl lg:mr-16 mb-4 lg:mb-0">
          <p class="text-secondary font-bold">About Our Company</p>
          <h1 class="text-5xl font-bold text-greyDark4">
            Building a Brighter financial Future & Good Support.
          </h1>
          <p>
            To provide innovative government-compliant financial solutions and
            quality services to our customers.
          </p>
          <p>
            To maximize returns for our shareholders and partners. To nurture an
            internal environment of qualified professionals and cutting-edge
            technology.
          </p>
          <p>
            <a
              href="apply"
              class="bg-primary hover:bg-primaryDark font-semibold rounded text-center text-greyLight1 py-3 px-8 uppercase inline-block"
              >Apply for loan</a
            >
          </p>
        </div>
        <div class="relative">
          <img
            src="assets/img/gallery/about1.png"
            alt="about-image-1"
            class="rounded"
          />
          <!-- TO BE LOADED FROM  CDN -->
          <img
            src="assets/img/gallery/about2.png"
            alt="about-image-2"
            class="hidden lg:inline absolute right-8 top-8"
          />
          <!-- TO BE LOADED FROM  CDN -->
        </div>
      </section>
      <!-- ABOUT  SECTION END-->

      <!-- SERVICES SECTION START -->
      <section class="m-8 sm:m-16">
        <div class="text-center space-y-4 my-8">
          <p class="font-bold text-secondary text-lg">
            Services that we are providing
          </p>
          <h1 class="font-bold text-4xl text-greyDark4">
            High Performance Services For All Industries.
          </h1>
        </div>
        <div class="my-4 grid gap-4 mmd:grid-cols-2 lg:grid-cols-4">
          <div
            class="flex flex-col justify-center items-center bg-greyLight2 p-4 space-y-4 border-l-8 border-primary rounded shadow-md"
          >
            <p>icon</p>
            <p>
              <a
                href="services"
                class="uppercase text-primaryDark font-semibold"
              >
                alf agriculture loan
              </a>
            </p>
            <p class="text-center">
              We have a responsibility to support our agriculture sector because
              it employs over 60 percent of our population. We seek to finance
              agricultural projects with huge commercial potential and domestic
              or export level.
            </p>
          </div>
          <div
            class="flex flex-col justify-center items-center bg-greyLight2 p-4 space-y-4 border-l-8 border-primary rounded shadow-md"
          >
            <p>icon</p>

            <p>
              <a
                href="services"
                class="uppercase text-primaryDark font-semibold"
              >
                afl overdraft loan
              </a>
            </p>
            <p class="text-center">
              How does an overdraft work? This is a lending arrangement on a
              current account allowing the account holder to overdraw the 50% of
              monthly income and with a specific expiry date. The overdraft can
              be marked over a few days or up to a period of one year.
            </p>
          </div>
          <div
            class="flex flex-col justify-center items-center bg-greyLight2 p-4 space-y-4 border-l-8 border-primary rounded shadow-md"
          >
            <p>icon</p>
            <p>
              <a
                href="services"
                class="uppercase text-primaryDark font-semibold"
              >
                construction loan
              </a>
            </p>
            <p class="text-center">
              Everyone has their own dream house and it is normally hard to find
              that dream house built by someone else and ready for outright
              purchase. With our construction mortgage product, you get to build
              your house as you imagined it in your dreams.
            </p>
          </div>
          <div
            class="flex flex-col justify-center items-center bg-greyLight2 p-4 space-y-4 border-l-8 border-primary rounded shadow-md"
          >
            <p>icon</p>
            <p>
              <a
                href="services"
                class="uppercase text-primaryDark font-semibold"
              >
                business loan
              </a>
            </p>
            <p class="text-center">
              We take the responsibilities to support the small business in
              Uganda in order to support the so called low income earners. This
              will increase the country's average income thus development of our
              country which is our main goal. As we develop with you.
            </p>
          </div>
        </div>
      </section>
      <!-- SERVICES SECTION END -->

      <!-- VISION SECTION START-->
      <section
        class="lg:flex items-center justify-between m-8 sm:mx-16 my-8 space-y-4"
      >
        <div
          class="bg-primary w-3/5 lg:w-1/2 relative rounded hidden md:inline-block"
        >
          <img
            src="assets/img/gallery/perm_sec.jpg"
            alt="permanent secretary"
            class="h-full w-11/12 rounded"
          />
          <!-- TO BE LOADED FROM  CDN -->

          <p
            class="absolute bg-greyLight1 hidden md:inline-block opacity-70 bottom-16 -right-28 h-20 w-64 -rotate-90"
          >
            .
          </p>
          <p
            class="font-bold text-3xl uppercase text-blue-900 py-4 px-16 hidden md:inline-block absolute bottom-20 -right-28 -rotate-90"
          >
            since 1992
          </p>
        </div>
        <div class="space-y-4 lg:w-1/2 lg:pl-8">
          <p class="text-secondary font-semibold">Why Choose Our Company</p>
          <h4 class="font-bold text-4xl">
            We Promise Sustainable Future For You.
          </h4>
          <p class="text-primaryDark font-semibold">Vision:</p>
          <p class="mmd:max-w-lg lg:max-w-none">
            To become a leading, innovative and a nation wide financial
            institution adhering to the highest government and ethical
            principles; meeting international financial standards; partnering
            the development of the global economy and participating in the
            advancement of the society.
          </p>
          <div
            class="flex flex-col justify-center items-start text-greyDark4 space-y-2"
          >
            <p>
              <input type="checkbox" checked class="mr-4" /><span
                >Integrity</span
              >
            </p>
            <p>
              <input type="checkbox" checked class="mr-4" />
              <span>Transparency</span>
            </p>
            <p>
              <input type="checkbox" checked class="mr-4" />
              <span>Justice </span>
            </p>
            <p>
              <input type="checkbox" checked class="mr-4" />
              <span>Cooperation and Team work</span>
            </p>
            <p>
              <input type="checkbox" checked class="mr-4" />
              <span>Loyalty and Commitment</span>
            </p>
            <p>
              <input type="checkbox" checked class="mr-4" />
              <span>Excellence</span>
            </p>
          </div>
        </div>
      </section>
      <!-- VISION SECTION END-->

      <!-- TEAM MEMBERS SECTION START-->
      <section class="space-y-4 my-16">
        <p class="text-lg text-secondary font-semibold text-center">
          Our Loan Section Team Members
        </p>
        <h1 class="font-bold text-4xl text-center px-8 mmd:px-16 lg:32">
          Take a look to our professional team members.
        </h1>
        <div
          class="m-8 mb sm:m-16 space-4 grid gap-3 mmd:grid-cols-2 md:gap-6 lg:gap-4 lg:mmd:grid-cols-4 xl:10"
        >
          <div
            class="bg-greyLight1 flex flex-col justify-center p-4 rounded shadow"
          >
            <img
              src="assets/img/gallery/Exe_officer.jpg"
              alt="executive office"
              class="w-68 h-72 md:h-76 lg:h-56"
            />
            <!-- TO BE LOADED FROM  CDN -->

            <span class="text-lg font-semibold">Nizeyimana Obed</span>
            <span class="text-greyDark3">Executuve officer</span>
          </div>
          <div
            class="bg-greyLight1 flex flex-col justify-center p-4 rounded shadow"
          >
            <img
              src="assets/img/gallery/chief_fin.jpg"
              alt="Chief finance officer"
              class="w-68 h-72 md:h-76 lg:h-56"
            />
            <!-- TO BE LOADED FROM  CDN -->

            <span class="text-lg font-semibold">Mohammed Bin Rahib</span>
            <span class="text-greyDark3">Chief finance officer</span>
          </div>
          <div
            class="bg-greyLight1 flex flex-col justify-center p-4 rounded shadow"
          >
            <img
              src="assets/img/gallery/perm_sec.jpg"
              alt="Permanent secretary"
              class="w-auto h-72 lg:h-56"
            />
            <!-- TO BE LOADED FROM  CDN -->

            <span class="text-lg font-semibold">Irankunda Sarah</span>
            <span class="text-greyDark3">Permanent secretary</span>
          </div>
          <div
            class="bg-greyLight1 flex flex-col justify-center p-4 rounded shadow"
          >
            <img
              src="assets/img/gallery/public_rel.jpg"
              alt="Public relations officer"
              class="w-auto h-72 lg:h-56"
            />
            <!-- TO BE LOADED FROM  CDN -->

            <span class="text-lg font-semibold">Atyamisa Solange</span>
            <span class="text-greyDark3">Public relations officer</span>
          </div>
        </div>
      </section>
      <!-- TEAM MEMBERS SECTION END-->

      <!-- TESTIMONIAL SECTION START -->
      <section
        class="flex flex-col items-center py-16 px-8 mmd:px-20 lg:px-32 bg-blueDark1 space-y-6"
      >
        <img src="assets/img/gallery/testimonial.png" alt="quote" />
        <p class="text-2xl text-center text-greyLight1">
          Abacus finance Uganda limited has established nation wide branches in
          order to reach the to the general population and serve them better.
        </p>
        <div class="flex items-center">
          <img
            src="assets/img/gallery/Exe_officer.jpg"
            alt="executive officer"
            class="scale-100 w-28 h-28 sm:w-40 sm:h-40 rounded-full mr-3 sm:mr-6"
          />
          <!-- TO BE LOADED FROM  CDN -->

          <div
            class="flex flex-col justify-center items-center text-greyLight1"
          >
            <span>Nizeyimana Obed</span>
            <span>Executuve officer </span>
          </div>
        </div>
      </section>
      <!-- TESTIMONIAL SECTION END -->
    </main>
    <!-- MAIN CONTENT END -->

    <!-- FOOTER SECTION START -->
    <%- include("./Partials/footer"); %>
    <!-- FOOTER SECTION END -->

    <script src="./partials/navbar.js"></script>
  </body>
</html>
