<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/output.css" />
    <title>Contact</title>
  </head>
  <body class="relative bg-greyLight1 text-base">
    <!-- HEADER SECTION START -->
    <header><%- include('./partials/navbar'); %></header>
    <!-- HEADER SECTION END -->

    <!-- MAIN CONTENT START -->
    <main class="md:mt-32 mb-8">
      <!-- CONTACT FORM START -->
      <div
        class="mx-8 sm:mx-16 lg:my-16 flex flex-col justify-between lg:flex-row lg:gap-32 lg:justify-between"
      >
        <div class="flex-1">
          <h2 class="font-semibold text-xl mb-6">Get in Touch</h2>
          <form
            action="<%= baseUrl %>/contact"
            method="POST"
            class="form space-y-4"
          >
            <textarea
              name="message"
              required
              placeholder="Enter message"
              class="input-field resize-none h-40"
            ></textarea>
            <div class="flex flex-col items-start mmd:flex-row justify-between">
              <input
                type="text"
                name="name"
                required
                placeholder="Enter your name"
                class="input-field w-full mb-6 mmd:mb-0 mmd:mr-4"
              />
              <input
                type="text"
                name="email"
                required
                placeholder="Email"
                class="input-field w-full mmd:mb-0"
              />
            </div>
            <input
              type="text"
              name="subject"
              placeholder="Enter subject"
              class="input-field"
            />
            <button type="submit" class="submit-btn">send</button>
          </form>
        </div>
        <!-- CONTACT FORM START -->

        <!-- CONTACT INFO START -->
        <div class="mt-10 lg:mt-14">
          <div class="flex items-start mb-6">
            <!-- <span class="mr-4">icon</span> -->
            <svg class="text-3xl text-greyDark2 inline-block w-14 h-14">
              <use href="../assets/icons/nav/icon-home.svg#home"></use>
            </svg>
            <div>
              <p class="font-semibold">Kampala, Uganda.</p>
              <p class="text-greyDark2">4th floor, The Acacia Mall</p>
              <p class="text-greyDark2">14-18 Cooper Road(off Acacia Ave)</p>
              <p class="text-greyDark2">Kisemeti District.</p>
            </div>
          </div>
          <div class="flex items-start mb-6">
            <!-- <span class="mr-4">icon</span> -->
            <svg class="text-3xl text-greyDark2 inline-block w-14 h-14">
              <use href="../assets/icons/nav/icon-phone.svg#phone"></use>
            </svg>
            <div>
              <p class="font-semibold">0800113213 | +256 759938344</p>
              <p class="text-greyDark2">Mon to Fri 9am to 6pm</p>
            </div>
          </div>
          <div class="flex items-start mb-6">
            <!-- <span class="mr-4">icon</span> -->
            <svg class="text-3xl text-greyDark2 inline-block w-14 h-14">
              <use href="../assets/icons/nav/icon-email.svg#email"></use>
            </svg>
            <div>
              <p class="font-semibold">abacusuganda20@gmail.com</p>
              <p class="text-greyDark2">Send us your query anytime!</p>
            </div>
          </div>
        </div>
        <!-- CONTACT INFO END -->
      </div>
      <!-- CONTACT FORM END -->
    </main>
    <!--  MAIN CONTENT END -->

    <!-- FOOTER SECTION START -->
    <%- include('./partials/footer'); %>
    <!-- FOOTER SECTION END -->

    <script src="./partials/navbar.js"></script>
  </body>
</html>
