<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/img/logo/logo.jpeg"
    />
    <link rel="stylesheet" href="css/output.css" />
    <title>Reset Password</title>
  </head>
  <body class="relative bg-greyLight1 text-base">
    <!-- HEADER SECTION START -->
    <header><%- include("./partials/navbar"); %></header>
    <!-- HEADER SECTION END -->

    <!-- MAIN CONTENT START -->
    <main class="mb-16 mt-16 md:mt-36 flex justify-center items-center">
      <div class="mx-8 sm:mx-16 p-6 rounded w-full md:w-96 shadow">
        <% if(message){ %>
        <p class="error"><%= message%></p>
        <% } %>

        <h2 class="mb-4 text-lg font-semibold text-greyDark3">
          Provide an email associated with your account
        </h2>
        <form
          action="<%= baseUrl %>/forgot-password"
          method="POST"
          class="form space-y-4 w-full"
        >
          <input
            type="email"
            name="email"
            placeholder="Enter your email"
            required
            class="input-field"
          />
          <button type="submit" class="submit-btn">Reset password</button>
        </form>
      </div>
    </main>
    <!-- MAIN CONTENT END -->

    <!-- FOOTER SECTION START -->
    <%- include("./partials/footer"); %>
    <!-- FOOTER SECTION END -->
  </body>
</html>
