<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/img/logo/logo.jpeg"
    />
    <title>Abacus Finance Uganda</title>
    <link rel="stylesheet" href="css/output.css" />
  </head>
  <body class="relative bg-greyLight1 text-base">
    <!-- HERO SECTION -->
    <!--  -->
    <header class="">
      <%- include('./partials/navbar'); %>

      <div class="flex items-center z-10 md:mt-32">
        <div class="flex flex-col space-y-8 px-8 pb-8 sm:px-16 sm:pb-16">
          <p class="font-bold text-secondary text-lg">
            Welcome our dear customer
          </p>
          <h2 class="text-4xl font-bold">Get the funds you need today.</h2>
          <h2 class="text-4xl font-bold">
            Apply now for a quick and easy loan.
          </h2>
          <p class="">
            <a
              href="signup"
              class="bg-primary hover:bg-primaryDark font-semibold rounded text-center text-greyLight1 py-3 px-8 uppercase inline-block"
              >Get started</a
            >
          </p>
        </div>
        <div>
          <img
            class="hidden md:inline-block rounded"
            src="assets/img/hero/hero_img2.jpg"
          />
        </div>
      </div>
    </header>

    <!-- MAIN CONTENT  START -->
    <main>
      <section
        class="hidden bg-primary sm:grid grid-cols-3 items-center gap-4 text-xl mx-16 mb-16 py-6 pt-4 px-4 text-greyLight1 rounded"
      >
        <div class="flex flex-col items-center md:flex-row justify-center">
          <svg class="text-6xl inline-block w-14 h-14">
            <use href="../assets/icons/nav/icon-clock.svg#clock"></use>
          </svg>
          <span class="md:ml-2">Quick</span>
        </div>
        <div class="flex flex-col items-center md:flex-row justify-center">
          <svg class="text-6xl inline-block w-14 h-14">
            <use href="../assets/icons/nav/icon-thumb.svg#thumb"></use>
          </svg>
          <span class="md:ml-2">Easy</span>
        </div>
        <div class="flex flex-col items-center md:flex-row justify-center">
          <svg class="text-6xl inline-block w-14 h-14">
            <use href="../assets/icons/nav/icon-dollar.svg#dollar"></use>
          </svg>
          <span class="text-center md:ml-2">Loan approvals</span>
        </div>
      </section>
    </main>
    <!-- MAIN CONTENT  END -->

    <!-- FOOTER SECTION START-->
    <%- include('./partials/footer'); %>
    <!-- FOOTER SECTION END-->

    <script src="./partials/navbar.js"></script>
  </body>
</html>
