<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My applications</title>
  </head>
  <body>
    <p>Loan application</p>
    <a href="/my-loan-application">Loan application</a>
    <p>Sacco membership application</p>
    <a href="/my-sacco-membership-application">Loan application</a>
  </body>
</html>
