<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/output.css" />
    <title>services</title>
  </head>
  <body class="relative bg-greyLight1 text-base">
    <!-- HEADER SECTION START -->
    <header><%- include('./partials/navbar'); %></header>
    <!-- HEADER SECTION END -->

    <!-- MAIN CONTENT START -->
    <main class="md:mt-32">
      <!-- SERVICES SECTION START -->
      <section class="m-8 sm:m-16 md:mt-32">
        <div class="text-center space-y-4 my-8">
          <p class="font-bold text-secondary text-lg">
            Services that we are providing
          </p>
          <h1 class="font-bold text-4xl text-greyDark4">
            High Performance Services For All Industries.
          </h1>
        </div>
        <div class="my-4 grid gap-4 mmd:grid-cols-2 lg:grid-cols-4">
          <div
            class="flex flex-col justify-center items-center bg-greyLight2 p-4 space-y-4 border-l-8 border-primary rounded shadow-md"
          >
            <p>icon</p>
            <p>
              <a
                href="services"
                class="uppercase text-primaryDark font-semibold"
              >
                alf agriculture loan
              </a>
            </p>
            <p class="text-center">
              We have a responsibility to support our agriculture sector because
              it employs over 60 percent of our population. We seek to finance
              agricultural projects with huge commercial potential and domestic
              or export level.
            </p>
          </div>
          <div
            class="flex flex-col justify-center items-center bg-greyLight2 p-4 space-y-4 border-l-8 border-primary rounded shadow-md"
          >
            <p>icon</p>

            <p>
              <a
                href="services"
                class="uppercase text-primaryDark font-semibold"
              >
                afl overdraft loan
              </a>
            </p>
            <p class="text-center">
              How does an overdraft work? This is a lending arrangement on a
              current account allowing the account holder to overdraw the 50% of
              monthly income and with a specific expiry date. The overdraft can
              be marked over a few days or up to a period of one year.
            </p>
          </div>
          <div
            class="flex flex-col justify-center items-center bg-greyLight2 p-4 space-y-4 border-l-8 border-primary rounded shadow-md"
          >
            <p>icon</p>
            <p>
              <a
                href="services"
                class="uppercase text-primaryDark font-semibold"
              >
                construction loan
              </a>
            </p>
            <p class="text-center">
              Everyone has their own dream house and it is normally hard to find
              that dream house built by someone else and ready for outright
              purchase. With our construction mortgage product, you get to build
              your house as you imagined it in your dreams.
            </p>
          </div>
          <div
            class="flex flex-col justify-center items-center bg-greyLight2 p-4 space-y-4 border-l-8 border-primary rounded shadow-md"
          >
            <p>icon</p>
            <p>
              <a
                href="services"
                class="uppercase text-primaryDark font-semibold"
              >
                business loan
              </a>
            </p>
            <p class="text-center">
              We take the responsibilities to support the small business in
              Uganda in order to support the so called low income earners. This
              will increase the country's average income thus development of our
              country which is our main goal. As we develop with you.
            </p>
          </div>
        </div>
      </section>
      <!-- SERVICES SECTION END -->
    </main>
    <!-- HEADER SECTION END -->

    <!-- FOOTER SECTION START -->
    <%- include('./partials/footer'); %>
    <!-- FOOTER SECTION END -->

    <script src="./partials/navbar.js"></script>
  </body>
</html>
