<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/img/logo/logo.jpeg"
    />
    <link rel="stylesheet" href="css/output.css" />
    <title>Start Applying</title>
  </head>
  <body
    class="relative bg-greyLight1 text-base transition-all overflow-x-hidden"
  >
    <!-- SIDEBAR SECTION START -->
    <%- include("./partials/sidebar");%>
    <!-- SIDEBAR SECTION END -->

    <div class="mmd:ml-64">
      <!-- HEADER SECTION START -->
      <header
        class="bg-greyLight1 z-20 sticky top-0 flex items-center justify-between shadow pb-5 pt-4 px-4 sm:px-8 md:px-16"
      >
        <span>Welcome <%= signedInUser.name %></span>
        <div class="flex items-center relative">
          <%- include("./partials/auth-user");%>
        </div>
      </header>
      <!-- HEADER SECTION END -->

      <!-- MAIN CONTENT START -->
      <main class="flex justify-center items-center my-16 sm:my-28">
        <section class="my-8 px-4 mmd:px-2 md:px-4">
          <h2
            class="bg-greyDark1 font-bold text-greyLight3 text-2xl text-center p-4 pb-5 sm:p-8 md:pb-9 mb-8 shadow-md rounded border-t-8 border-primaryDark"
          >
            Get started by applying for a loan or membership account
          </h2>
          <div
            class="flex flex-col items-center justify-center gap-2 sm:flex-row mb-8"
          >
            <a
              href="apply-for-loan"
              class="link-btn uppercase font-semibold w-full sm:w-auto mb-5 sm:mb-0"
              >apply for loan</a
            >
            <a
              href="apply-for-sacco-membership"
              class="link-btn uppercase font-semibold w-full sm:w-auto"
              >apply for membership</a
            >
          </div>
        </section>
      </main>
      <!-- MAIN CONTENT END -->

      <!-- FOOTER SECTION START -->
      <%- include("./partials/footer")%>

      <!-- FOOTER SECTION END -->
    </div>

    <script src="./partials/sidebar.js"></script>
    <script src="./partials/auth-user.js"></script>
  </body>
</html>
