<!DOCTYPE html>

<footer class="footer-bg-image bg-greyDark4 px-8">
  <div class="grid gap-8 items-start mmd:grid-cols-2 md:grid-cols-3 py-16">
    <div
      class="flex flex-col space-y-2 items-start justify-start text-greyDark1"
    >
      <p class="text-lg text-greyLight1 max-w-xs mmd:max-w-none">
        Get In Touch
      </p>
      <p>Our offices are open and our professionals continue to serve you.</p>
      <p>
        <svg class="icon-footer-1 text-2xl inline-block w-6 h-6 mr-2">
          <use href="../assets/icons/nav/icon-location.svg#location"></use>
        </svg>
        <span>Kampala, Uganda </span>
      </p>
      <p>
        <svg class="icon-footer-1 text-2xl inline-block w-6 h-6 mr-2">
          <use href="../assets/icons/nav/icon-email.svg#email"></use>
        </svg>
        <span>abucusuganda20@gmail.com</span>
      </p>
      <p>
        <svg class="icon-footer-1 text-2xl inline-block w-6 h-6 mr-2">
          <use href="../assets/icons/nav/icon-call.svg#call"></use>
        </svg>
        <span> +256 759938344, </span>
        <span> 0800113213 </span>
      </p>
      <!-- <p>
        <svg class="icon-footer-1 text-2xl inline-block w-6 h-6 mr-2">
          <use href="../assets/icons/nav/icon-call.svg#call"></use>
        </svg>
        <span> 0800113213 </span>
      </p> -->
    </div>
    <div
      class="flex flex-col space-y-2 items-start justify-center text-greyDark1"
    >
      <p class="text-lg text-greyLight1">Quick Link</p>
      <p><a href="about">About</a></p>
      <p>Offers & Discounts</p>
      <p><a href="#">Get Coupon</a></p>
      <p><a href="contact">Contact Us</a></p>
    </div>
    <div
      class="flex flex-col space-y-2 items-start justify-center text-greyDark1"
    >
      <p class="text-lg text-greyLight1">Support</p>
      <p>
        <a href="#">Frequently Asked Questions</a>
      </p>
      <p><a href="#">Terms & Conditions</a></p>
      <p><a href="#">Privacy Policy</a></p>
      <p><a href="#">Report a Payment Issue</a></p>
    </div>
  </div>
  <div
    class="text-greyDark1 pt-4 pb-16 flex flex-col justify-between lg:flex-row lg:items-center"
  >
    <p>
      Copyright © 2023
      <span class="text-blue-400">Abacus Finance Uganda Limited</span> . All
      Rights Reserved.
    </p>
    <p class="flex justify-start items-center space-x-4 mt-6 lg:mt-0">
      <a href="#">
        <img
          src="../assets/icons/social/twitter.svg"
          alt="twitter-icon"
          class="w-8 bg-greyDark1 p-1 rounded"
        />
      </a>
      <a href="#">
        <img
          src="../assets/icons/social/facebook-f.svg"
          alt="facebook-icon"
          class="w-8 bg-greyDark1 p-1 rounded"
        />
      </a>
      <a href="#">
        <img
          src="../assets/icons/social/internet.svg"
          alt="internet-icon"
          class="w-8 bg-greyDark1 p-1 rounded"
        />
      </a>
      <a href="#">
        <img
          src="../assets/icons/social/instagram.svg"
          alt="instagram-icon"
          class="w-8 bg-greyDark1 p-1 rounded"
        />
      </a>
    </p>
  </div>
</footer>
