<!DOCTYPE html>

<div
  class="bg-greyLight1 flex justify-between items-center px-8 sm:px-16 md:px-8 xl:md:px-16 fixed top-0 w-full shadow z-50"
>
  <img
    src="assets/img/logo/logo.jpeg"
    alt="logo"
    class="w-32 h-24 rounded bg-greyLight2"
  />
  <!-- MEDIUM TO LARGE NAV  -->
  <nav
    class="hidden flex-1 md:flex justify-end items-center md:space-x-1 lg:space-x-4 xl:space-x-8"
  >
    <a
      href="home"
      class="px-2 lg:px-4 pb-3 py-2 font-semibold rounded text-greyDark4 hover:bg-primaryDark hover:text-greyLight1 delay-100 ease-in-out"
      >Home</a
    >
    <a
      href="services"
      class="px-2 lg:px-4 pb-3 py-2 font-semibold rounded text-greyDark4 hover:bg-primaryDark hover:text-greyLight1 delay-100 ease-in-out"
      >Services</a
    >
    <a
      href="about"
      class="px-2 lg:px-4 pb-3 py-2 font-semibold rounded text-greyDark4 hover:bg-primaryDark hover:text-greyLight1 delay-100 ease-in-out"
      >About</a
    >
    <a
      href="contact"
      class="px-2 lg:px-4 pb-3 py-2 font-semibold rounded text-greyDark4 hover:bg-primaryDark hover:text-greyLight1 delay-100 ease-in-out"
      >Contact</a
    >
    <a
      href="start-applying"
      class="px-4 pb-3 py-2 font-semibold rounded bg-primary text-greyLight1 hover:bg-primaryDark hover:text-greyLight1 delay-100 ease-in-out"
      >Apply Now</a
    >
    <a
      href="signin"
      class="px-2 lg:px-4 pb-2 py-1 font-semibold rounded border-2 border-primary text-greyDark4 hover:bg-primaryDark hover:text-greyLight1 delay-100 ease-in-out"
      >Login</a
    >
    <a
      href="signup"
      class="px-2 lg:px-4 pb-2 py-1 font-semibold rounded border-2 border-primary text-greyDark4 hover:bg-primaryDark hover:text-greyLight1 delay-100 ease-in-out"
      >Signup</a
    >
  </nav>
  <!-- HANG BURG MENU -->
  <div class="realtive flex justify-end items-center">
    <!-- <img
      src="../assets/icons/nav/icon-menu.svg"
      alt="icon-menu"
      class="w-10 text-greyDark4 md:hidden"
    /> -->
    <svg class="icon-menu text-4xl inline-block w-9 h-9">
      <use href="../assets/icons/nav/icon-menu.svg#menu"></use>
    </svg>
  </div>
</div>
<!-- MOBILE NAV  -->
<nav
  id="mobile-nav"
  class="md:hidden bg-greyLight2 text-greyDark3 flex flex-col justify-center p-4 mx-8 sm:mx-16 mt-32 shadow-md border-l-8 border-primaryLight rounded"
>
  <a href="home" class="flex justify-start items-center py-2 pb-3 relative">
    <svg
      class="icon-nav text-2xl inline-block w-6 h-6 mb-2 mr-2 absolute top-2 left-1"
    >
      <use href="../assets/icons/nav/icon-home.svg#home"></use>
    </svg>
    <span class="font-semibold ml-9">Home</span>
  </a>
  <a href="services" class="flex justify-start items-center py-2 pb-3 relative">
    <svg
      class="icon-nav text-2xl inline-block w-6 h-6 mb-2 mr-2 absolute top-2 left-1"
    >
      <use href="../assets/icons/nav/icon-services.svg#services"></use>
    </svg>
    <span class="font-semibold ml-9">Services</span>
  </a>
  <a href="about" class="flex justify-start items-center py-2 pb-3 relative">
    <svg
      class="icon-nav text-2xl inline-block w-6 h-6 mb-2 mr-2 absolute top-2 left-1"
    >
      <use href="../assets/icons/nav/icon-about.svg#about"></use>
    </svg>
    <span class="font-semibold ml-9">About</span>
  </a>
  <a href="contact" class="flex justify-start items-center py-2 pb-3 relative">
    <svg
      class="icon-nav text-2xl inline-block w-6 h-6 mb-2 mr-2 absolute top-2 left-1"
    >
      <use href="../assets/icons/nav/icon-email.svg#email" class=""></use>
    </svg>
    <span class="font-semibold ml-9">Contact</span>
  </a>
  <a
    href="start-applying"
    class="flex justify-start items-center py-2 pb-3 relative"
  >
    <svg
      class="icon-nav text-2xl inline-block w-6 h-6 mb-2 mr-2 absolute top-2 left-1"
    >
      <use href="../assets/icons/nav/icon-money.svg#money"></use>
    </svg>
    <span class="font-semibold ml-9">Apply now</span>
  </a>
  <a href="signin" class="flex justify-start items-center py-2 pb-3 relative">
    <svg
      class="icon-nav text-2xl inline-block w-6 h-6 mb-2 mr-2 absolute top-2 left-1"
    >
      <use href="../assets/icons/nav/icon-login.svg#login"></use>
    </svg>
    <span class="font-semibold ml-9">Login</span>
  </a>
  <a href="signup" class="flex justify-start items-center py-2 pb-3 relative">
    <svg
      class="icon-nav text-2xl inline-block w-6 h-6 mb-2 mr-2 absolute top-2 left-1"
    >
      <use href="../assets/icons/nav/icon-register.svg#register"></use>
    </svg>
    <span class="font-semibold ml-9">Signup</span>
  </a>
</nav>
