<!DOCTYPE html>

<div
  class="bg-greyLight1 flex justify-between items-center px-8 sm:px-16 md:px-8 xl:md:px-16 fixed top-0 w-full shadow z-50"
>
  <img
    src="assets/img/logo/logo.jpeg"
    alt="logo"
    class="w-32 h-24 rounded bg-greyLight2"
  />
  <!-- MEDIUM TO LARGE NAV  -->
  <nav
    class="hidden flex-1 md:flex justify-end items-center md:space-x-1 lg:space-x-4 xl:space-x-8"
  >
    <a
      href="home"
      class="px-2 lg:px-4 pb-3 py-2 font-semibold rounded text-greyDark4 hover:bg-primaryDark hover:text-greyLight1 delay-100 ease-in-out"
      >Home</a
    >
    <a
      href="services"
      class="px-2 lg:px-4 pb-3 py-2 font-semibold rounded text-greyDark4 hover:bg-primaryDark hover:text-greyLight1 delay-100 ease-in-out"
      >Services</a
    >
    <a
      href="about"
      class="px-2 lg:px-4 pb-3 py-2 font-semibold rounded text-greyDark4 hover:bg-primaryDark hover:text-greyLight1 delay-100 ease-in-out"
      >About</a
    >
    <a
      href="contact"
      class="px-2 lg:px-4 pb-3 py-2 font-semibold rounded text-greyDark4 hover:bg-primaryDark hover:text-greyLight1 delay-100 ease-in-out"
      >Contact</a
    >
    <a
      href="apply"
      class="px-4 pb-3 py-2 font-semibold rounded bg-primary text-greyLight1 hover:bg-primaryDark hover:text-greyLight1 delay-100 ease-in-out"
      >Apply Now</a
    >
    <a
      href="signin"
      class="px-2 lg:px-4 pb-2 py-1 font-semibold rounded border-2 border-primary text-greyDark4 hover:bg-primaryDark hover:text-greyLight1 delay-100 ease-in-out"
      >Login</a
    >
    <a
      href="signup"
      class="px-2 lg:px-4 pb-2 py-1 font-semibold rounded border-2 border-primary text-greyDark4 hover:bg-primaryDark hover:text-greyLight1 delay-100 ease-in-out"
      >Signup</a
    >
  </nav>
  <!-- HANG BURG MENU -->
  <img
    src="../assets/icons/nav/icon-menu.svg"
    alt="icon-menu"
    class="w-10 text-greyDark4 md:hidden"
  />
</div>
<!-- MOBILE NAV  -->
<nav
  id="mobile-nav"
  class="md:hidden bg-greyLight2 text-greyDark4 flex flex-col justify-center p-4 mx-8 sm:mx-16 mt-32 space-y-3 shadow-md border-l-8 border-primaryLight rounded"
>
  <a href="home" class="flex justify-start items-center">
    <img
      src="../assets/icons/nav/icon-home.svg"
      alt="icon-home"
      class="w-8 text-greyDark4"
    />
    <span class="font-semibold ml-3 text-lg">Home</span>
  </a>
  <a href="services" class="flex justify-start items-center"
    ><img
      src="../assets/icons/nav/icon-services.svg"
      alt="icon-services"
      class="w-8 text-greyDark4"
    /><span class="font-semibold ml-3 text-lg">Services</span>
  </a>
  <a href="about" class="flex justify-start items-center"
    ><img
      src="../assets/icons/nav/icon-about.svg"
      alt="icon-about"
      class="w-8 text-greyDark4"
    /><span class="font-semibold ml-3 text-lg">About</span>
  </a>
  <a href="contact" class="flex justify-start items-center">
    <img
      src="../assets/icons/nav/icon-contact.svg"
      alt="icon-contact"
      class="w-8 text-greyDark4"
    /><span class="font-semibold ml-3 text-lg">Contact</span>
  </a>
  <a href="apply" class="flex justify-start items-center">
    <img
      src="../assets/icons/nav/icon-money.svg"
      alt="icon-money"
      class="w-8 text-greyDark4"
    /><span class="font-semibold ml-3 text-lg">Apply now</span>
  </a>
  <a href="signin" class="flex justify-start items-center">
    <img
      src="../assets/icons/nav/icon-login.svg"
      alt="icon-login"
      class="w-8 text-greyDark4"
    /><span class="font-semibold ml-3 text-lg">Login</span>
  </a>
  <a href="signup" class="flex justify-start items-center">
    <img
      src="../assets/icons/nav/icon-register.svg"
      alt="icon-register"
      class="w-8 text-greyDark4"
    /><span class="font-semibold ml-3 text-lg">Signup</span>
  </a>
</nav>
