<!DOCTYPE html>

<aside class="sidebar scrollbar" id="sidebar">
  <div class="relative mb-4 mmd:mb-0">
    <a
      href="javascript:void(0)"
      class="inline-block mmd:hidden text-greyLight2 text-4xl rounded absolute -top-8 right-2"
      onclick="hideSidebar()"
      >&times;</a
    >
  </div>

  <div class="flex flex-col items-center pb-4 mb-4 shadow-md">
    <h2
      class="text-lg font-semibold bg-primaryDark p-2 px-4 pb-3 mb-4 rounded shadow"
    >
      Abacus Finance Uganda
    </h2>
    <span>Achieve your financial goal</span>
  </div>
  <ul class="">
    <% if (signedInUser.role === "admin"){%>
    <li class="pl-2">
      <a
        href="applications"
        class="px-4 pt-2 pb-3 text-start w-full block relative"
      >
        <svg
          class="icon text-2xl inline-block w-6 h-6 mb-2 mr-2 absolute top-2 left-4"
        >
          <use href="../assets/icons/nav/icon-home.svg#home"></use>
        </svg>
        <span class="ml-9">Home</span>
      </a>
    </li>
    <%} else{ %>
    <li class="pl-2">
      <a
        href="start-applying"
        class="px-4 pt-2 pb-3 text-start w-full block relative"
      >
        <svg
          class="icon text-2xl inline-block w-6 h-6 mb-2 mr-2 absolute top-2 left-4"
        >
          <use href="../assets/icons/nav/icon-home.svg#home"></use>
        </svg>
        <span class="ml-9">Home</span>
      </a>
    </li>
    <% }%>
    <li class="pl-2">
      <a
        href="upload-application-file"
        class="px-4 pt-2 pb-3 text-start w-full block relative"
      >
        <svg
          class="icon text-2xl inline-block w-6 h-6 mb-2 mr-2 absolute top-2 left-4"
        >
          <use href="../assets/icons/nav/icon-document.svg#document"></use>
        </svg>
        <span class="ml-9">Upload application</span>
      </a>
    </li>

    <!-- LOAN -->
    <h3 class="bg-greyDark4 px-4 pt-2 pb-3 border-l-4 border-primary relative">
      <svg
        class="icon text-xl inline-block w-8 h-6 mb-2 mr-2 absolute top-2 left-4"
      >
        <use href="../assets/icons/nav/icon-loan.svg#loan"></use>
      </svg>
      <span class="uppercase font-bold ml-9">Loans</span>
    </h3>
    <li class="pl-2">
      <a
        href="apply-for-loan"
        class="px-4 pt-2 pb-3 text-start w-full block relative"
      >
        <svg
          class="icon text-2xl inline-block w-6 h-6 mb-2 mr-2 absolute top-2 left-4"
        >
          <use href="../assets/icons/nav/icon-services.svg#services"></use>
        </svg>
        <span class="ml-9">Apply for loan</span>
      </a>
    </li>
    <li class="pl-2">
      <a
        href="my-loan-data"
        class="px-4 pt-2 pb-3 text-start w-full block relative"
      >
        <svg
          class="icon text-2xl inline-block w-6 h-6 mb-2 mr-2 absolute top-2 left-4"
        >
          <use href="../assets/icons/nav/icon-document.svg#document"></use>
        </svg>
        <span class="ml-9">My application</span>
      </a>
    </li>
    <% if (signedInUser.role === "admin"){%>
    <li class="pl-2">
      <a
        href="loan-applicants"
        class="px-4 pt-2 pb-3 text-start w-full block relative"
      >
        <svg
          class="icon text-2xl inline-block w-6 h-6 mb-2 mr-2 absolute top-2 left-4"
        >
          <use href="../assets/icons/nav/icon-group.svg#group"></use>
        </svg>
        <span class="ml-9">Applicants</span>
      </a>
    </li>
    <%} %>

    <!-- SACCO -->
    <h3 class="bg-greyDark4 px-4 pt-2 pb-3 border-l-4 border-primary relative">
      <svg
        class="icon text-2xl inline-block w-6 h-6 mb-2 mr-2 absolute top-2 left-4"
      >
        <use href="../assets/icons/nav/icon-group.svg#group"></use>
      </svg>
      <span class="uppercase font-bold ml-9">sacco</span>
    </h3>
    <li class="pl-2">
      <a
        href="apply-for-sacco-membership"
        class="px-4 pt-2 pb-3 text-start w-full block relative"
      >
        <svg
          class="icon text-2xl inline-block w-6 h-6 mb-2 mr-2 absolute top-2 left-4"
        >
          <use href="../assets/icons/nav/icon-services.svg#services"></use>
        </svg>
        <span class="ml-9">Apply for account</span>
      </a>
    </li>
    <li class="pl-2">
      <a
        href="my-sacco-data"
        class="px-4 pt-2 pb-3 text-start w-full block relative"
      >
        <svg
          class="icon text-2xl inline-block w-6 h-6 mb-2 mr-2 absolute top-2 left-4"
        >
          <use href="../assets/icons/nav/icon-document.svg#document"></use>
        </svg>
        <span class="ml-9">My application</span>
      </a>
    </li>
    <% if (signedInUser.role === "admin"){%>
    <li class="pl-2">
      <a
        href="sacco-applicants"
        class="px-4 pt-2 pb-3 text-start w-full block relative"
      >
        <svg
          class="icon text-2xl inline-block w-6 h-6 mb-2 mr-2 absolute top-2 left-4"
        >
          <use href="../assets/icons/nav/icon-group.svg#group"></use>
        </svg>
        <span class="ml-9"> Applicants</span>
      </a>
    </li>
    <%} %>

    <!-- SETTINGS -->
    <h3 class="bg-greyDark4 px-4 pt-2 pb-3 border-l-4 border-primary relative">
      <svg
        class="icon text-2xl inline-block w-6 h-6 mb-2 mr-2 absolute top-2 left-4"
      >
        <use href="../assets/icons/nav/icon-settings.svg#settings"></use>
      </svg>
      <span class="uppercase font-bold ml-9">settings</span>
    </h3>
    <li class="pl-2">
      <a
        href="user-profile"
        class="px-4 pt-2 pb-3 text-start w-full block relative"
      >
        <svg
          class="icon text-2xl inline-block w-6 h-6 mb-2 mr-2 absolute top-2 left-4"
        >
          <use href="../assets/icons/nav/icon-person.svg#person"></use>
        </svg>
        <span class="ml-9">My profile</span>
      </a>
    </li>
    <li class="pl-2">
      <a
        href="update-password"
        class="px-4 pt-2 pb-3 text-start w-full block relative"
      >
        <svg
          class="icon text-2xl inline-block w-6 h-6 mb-2 mr-2 absolute top-2 left-4"
        >
          <use href="../assets/icons/nav/icon-group.svg#group"></use>
        </svg>
        <span class="ml-9">Update password</span>
      </a>
    </li>

    <% if (signedInUser.role === "admin"){%>
    <li class="pl-2">
      <a
        href="get-admin-codes"
        class="px-4 pt-2 pb-3 text-start w-full block relative"
      >
        <svg
          class="icon text-2xl inline-block w-6 h-6 mb-2 mr-2 absolute top-2 left-4"
        >
          <use href="../assets/icons/nav/icon-lock.svg#lock"></use>
        </svg>
        <span class="ml-9"> Admin signup codes</span>
      </a>
    </li>
    <%} %>
  </ul>
</aside>
