<!DOCTYPE html>

<aside class="sidebar scrollbar" id="sidebar">
  <div class="relative mb-4 mmd:mb-0">
    <a
      href="javascript:void(0)"
      class="inline-block mmd:hidden text-greyLight2 text-4xl rounded absolute -top-8 right-2"
      onclick="hideSidebar()"
      >&times;</a
    >
  </div>

  <div class="flex flex-col items-center pb-4 mb-4 shadow-md">
    <h2
      class="text-lg font-semibold bg-primaryDark p-2 px-4 pb-3 mb-4 rounded shadow"
    >
      Abacus Finance Uganda
    </h2>
    <span>Achieve your financial goal</span>
  </div>
  <ul class="">
    <li class="pl-2">
      <a href="start-applying" class="px-4 pt-2 pb-2 text-start w-full block">
        <img
          src="../assets/icons/nav/icon-home.svg"
          alt="icon-home"
          class="w-7 inline mb-2 mr-2"
        />
        <span>Home</span>
      </a>
    </li>

    <!-- LOAN -->
    <h3 class="bg-greyDark4 px-4 pt-2 pb-2 border-l-4 border-primary">
      <!-- To change this icon -->
      <img
        src="../assets/icons/nav/icon-money.svg"
        alt="icon-money"
        class="w-7 inline mb-2 mr-2"
      />
      <span class="uppercase font-bold">Loans</span>
    </h3>
    <li class="pl-2">
      <a href="apply-for-loan" class="px-4 pt-2 pb-2 text-start w-full block">
        <img
          src="../assets/icons/nav/icon-services.svg"
          alt="icon-services"
          class="w-7 inline mb-2 mr-2"
        />
        <span>Apply for loan</span>
      </a>
    </li>
    <li class="pl-2">
      <a href="my-loan-data" class="px-4 pt-2 pb-2 text-start w-full block">
        <img
          src="../assets/icons/nav/icon-document.svg"
          alt="icon-money"
          class="w-7 inline mb-2 mr-2"
        />
        <span>My application</span>
      </a>
    </li>
    <li class="pl-2">
      <a href="loan-applicants" class="px-4 pt-2 pb-2 text-start w-full block">
        <img
          src="../assets/icons/nav/icon-group.svg"
          alt="icon-group"
          class="w-7 inline mb-2 mr-2"
        />
        <span>Applicants</span>
      </a>
    </li>

    <!-- SACCO -->
    <h3 class="bg-greyDark4 px-4 pt-2 pb-2 border-l-4 border-primary">
      <img
        src="../assets/icons/nav/icon-group.svg"
        alt="icon-group"
        class="w-7 inline mb-2 mr-2"
      />
      <span class="uppercase font-bold">sacco</span>
    </h3>
    <li class="pl-2">
      <a
        href="apply-for-sacco-membership"
        class="px-4 pt-2 pb-2 text-start w-full block"
      >
        <img
          src="../assets/icons/nav/icon-services.svg"
          alt="icon-services"
          class="w-7 inline mb-2 mr-2"
        />
        <span>Apply for account</span>
      </a>
    </li>
    <li class="pl-2">
      <a href="my-sacco-data" class="px-4 pt-2 pb-2 text-start w-full block">
        <img
          src="../assets/icons/nav/icon-document.svg"
          alt="icon-document"
          class="w-7 inline mb-2 mr-2"
        />
        <span>My application</span>
      </a>
    </li>
    <li class="pl-2">
      <a href="sacco-applicants" class="px-4 pt-2 pb-2 text-start w-full block">
        <img
          src="../assets/icons/nav/icon-group.svg"
          alt="icon-group"
          class="w-7 inline mb-2 mr-2"
        />
        <span> Applicants</span>
      </a>
    </li>

    <!-- SETTINGS -->
    <h3 class="bg-greyDark4 px-4 pt-2 pb-2 border-l-4 border-primary">
      <img
        src="../assets/icons/nav/icon-settings.svg"
        alt="icon-settings"
        class="w-7 inline mb-2 mr-2"
      />
      <span class="uppercase font-bold">settings</span>
    </h3>
    <li class="pl-2">
      <a href="user-profile" class="px-4 pt-2 pb-2 text-start w-full block">
        <img
          src="../assets/icons/nav/icon-person.svg"
          alt="icon-person"
          class="w-7 inline mb-2 mr-2"
        />
        <span>My profile</span>
      </a>
    </li>
    <li class="pl-2">
      <a href="update password" class="px-4 pt-2 pb-2 text-start w-full block">
        <img
          src="../assets/icons/nav/icon-password.svg"
          alt="icon-password"
          class="w-7 inline mb-2 mr-2"
        />
        <span>Update password</span>
      </a>
    </li>
    <li class="pl-2">
      <a href="get-admin-codes" class="px-4 pt-2 pb-2 text-start w-full block">
        <img
          src="../assets/icons/nav/icon-key.svg"
          alt="icon-key"
          class="w-7 inline mb-2 mr-2"
        />
        <span> Admin signup codes</span>
      </a>
    </li>
  </ul>
</aside>
