@tailwind base;
@tailwind components;
@tailwind utilities;

.footer-bg-image {
  background-image: url("../assets/img/gallery/footer_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
/* TODO */
/* hsl(229.7,57.3%,49.6%) TO BE used as a bg under ceo on the home page*/
.form {
  display: flex;
  flex-direction: column;
}

.input-field {
  padding: 0.6rem;
  padding-top: 0.4rem;
  background-color: #e9ecef;
  color: #212529;
  border-bottom: 4px solid #868e96;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  outline: none;
}

.input-field:focus {
  color: #f8f9fa;
  background-color: #495057;
  border-bottom: 4px solid #228be6;
  transition: 0.3s;
}

.input-field::placeholder {
  color: #868e96;
}

.submit-btn {
  background-color: #228be6;
  padding: 0.6rem 2.4rem;
  font-weight: bold;
  /* color: #f8f9fa; */
  color: #dee2e6;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  outline: none;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #1864ab;
}

.apply-form {
  width: 100%;
}
@media screen and (min-width: 976px) {
  .apply-form {
    width: 576px;
  }
}

.link-btn {
  font-size: 16px;
  background-color: #2b8a3e;
  padding: 1rem 2rem;
  color: #f8f9fa;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  outline: none;
}

.link-btn:hover,
.link-btn:focus {
  /* background-color: #495057;
  background-color: hsl(240, 30%, 50%);
  background-color: #40c057; */
  background-color: #1864ab;
}

.error {
  color: #343a40;
  background-color: hsl(0, 100%, 95%);
  border: 1px solid hsl(0, 100%, 80%);
  border-radius: 4px;
  padding: 24px;
  text-align: center;
  width: 100%;
  margin-bottom: 16px;
}

.success {
  color: #343a40;
  background-color: hsl(120, 100%, 90%);
  border: 1px solid hsl(120, 100%, 40%);
  border-radius: 4px;
  padding: 24px;
  text-align: center;
  width: 100%;
  margin-bottom: 16px;
}

.role-admin {
  text-align: center;
  padding: 4px 8px 5px 8px;
  background: linear-gradient(to right, #40c057, #2b8a3e, #2b8a3e, #40c057);
  color: #e9ecef;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: bold;
}

.icon {
  color: #e9ecef;
}

.icon-nav {
  color: #343a40;
}
.icon-menu {
  color: #228be6;
}

.icon-profile {
  color: #495057;
}
.text-profile {
  color: #343a40;
}

.icon-logout {
  color: hsl(0, 95%, 40%);
  position: absolute;
  top: 11px;
  left: 7px;
}
.text-logout {
  color: hsl(0, 95%, 40%);
}

.icon-footer-1 {
  color: #74c0fc;
}

.icon-services {
  color: #228be6;
}

.sidebar {
  position: fixed;
  overflow-x: hidden;
  height: 100%;
  width: 256px;
  padding: 24px 0px;
  background-color: #343a40;
  color: #e9ecef;
  transition: 0.45s;
  z-index: 1000;
}

/* TODO : To define more styles for mobile devices  */
@media screen and (max-width: 600px) {
  .sidebar {
    left: -256px;
  }
}
.sidebar-link-hover-focus:hover,
.sidebar-link-hover-focus:focus {
  background-color: #868e96;
  transition: 0.35s;
  outline: none;
}

.admin-link {
  background-color: hsl(120, 100%, 90%);
  color: #343a40;
  font-size: smaller;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 3px 4px 4px 4px;
  margin-left: 4px;
  border-radius: 4px;
}

.table-element {
  width: 100%;
}

.table-element thead tr th {
  padding: 16px 24px;
  padding-bottom: 20px;
  text-align: start;
  background-color: #1864ab;
  color: #e9ecef;
}
.table-element thead tr th:first-child {
  border-top-left-radius: 4px;
}
.table-element thead tr th:last-child {
  border-top-right-radius: 4px;
}

.table-element tbody tr td {
  color: #343a40;
  padding: 12px 24px;
  padding-bottom: 16px;
}

.table-element tbody tr:not(:last-child) {
  border-bottom: 2px solid #74c0fc;
}

/* 
@media screen and (max-width: 600px) {
  .table-element {
    overflow-x: auto;
  }
} */

/* SCROLLBAR STYLES FOR WEBKIT BROWSERS */
.scrollbar::-webkit-scrollbar {
  width: 0.4rem;
  height: auto;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #228be6, #495057);
  border-radius: 0.8rem;
}
.scrollbar::-webkit-scrollbar-track {
  background: #212529;
}

/* SCROLLBAR STYLES FOR FIREFOX */
.scrollbar::-moz-scrollbar {
  width: 0.4rem;
  height: auto;
}
.scrollbar::-moz-scrollbar-thumb {
  background: linear-gradient(to bottom, #228be6, #495057);
  border-radius: 0.8rem;
}
.scrollbar::-moz-scrollbar-track {
  background: #212529;
}

/* SCROLLBAR STYLES FOR INTERNET EXPLORER */
.scrollbar ::-ms-thumb {
  background: linear-gradient(to bottom, #228be6, #495057);
  border-radius: 0.8rem;
}
.scrollbar ::-ms-track {
  background: #212529;
}

/* HORIZONTAL SCROLLBAR */

/* SCROLLBAR STYLES FOR WEBKIT BROWSERS */
.scrollbar-x::-webkit-scrollbar {
  width: auto;
  height: 0.4rem;
}
.scrollbar-x::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #228be6, #495057);
  border-radius: 0.8rem;
}
.scrollbar-x::-webkit-scrollbar-track {
  background: #e9ecef;
}

/* SCROLLBAR STYLES FOR FIREFOX */
.scrollbar-x::-moz-scrollbar {
  width: auto;
  height: 0.4rem;
}
.scrollbar-x::-moz-scrollbar-thumb {
  background: linear-gradient(to right, #228be6, #495057);
  border-radius: 0.8rem;
}
.scrollbar-x::-moz-scrollbar-track {
  background: #e9ecef;
}

/* SCROLLBAR STYLES FOR INTERNET EXPLORER */
.scrollbar-x::-ms-thumb {
  background: linear-gradient(to right, #228be6, #495057);
  border-radius: 0.8rem;
}
.scrollbar-x::-ms-track {
  background: #e9ecef;
}
